/* Navigation bar */
.topnav {
overflow: hidden;
background-color: #a3b899;
position: sticky;
width: 100%;
display: flex;
justify-content: space-around;
}

/* Navigation bar links */
.topnav a {
    float: left;
    display: block;
    color: #000034;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* When hovering over link, background and text color change */
.topnav a:hover {
    background: #000034;
    color: #a3b899;
}

body{
    background-color: #dde6d5;
}

/* Home page image styling */
img{
    max-width: 100%;
    width: 50%;
    height: auto;
    padding: 16px;
    border-color: #000034;
    border-style: double;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 50px;
}

p{
    color: #000034;
    font-size: 3em;
}

