/* Navigation bar */
.topnav {
overflow: hidden;
background-color: #a3b899;
position: fixed;
top: 0;
width: 100%;
display: flex;
justify-content: space-around;
}

/* Navigation bar links */
.topnav a {
    float: left;
    display: block;
    color: #000034;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* When hovering over link, background and text color change */
.topnav a:hover {
    background: #000034;
    color: #a3b899;
}

/* Home page image styling */
img{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    height: 100%;
}

div{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 150px;
}

p{
    color: #000034;
    font-size: 3em;
}

